<template lang="pug">
div
  v-container
    v-form
      v-container
        v-row
          v-col(cols="12")
            v-textarea(
              label="Write or Paste The Desired Message",
              v-model="In.msg",
              rows="3"
            )
          v-col(md="6", cols="12")
            v-text-field(
              type="password",
              label="Password (Optional)",
              v-model="In.psw",
              :disabled="passwordUsable"
            ) 
          v-col(md="6", cols="12")
            v-select(
              v-model="In.type",
              :items="encryptionTypes",
              item-text="name",
              item-value="id",
              label="Encrytion Type"
            )
          v-col(cols="6")
            v-checkbox(v-model="In.dec", label="Decode/Decrypt") 
          v-col(cols="6")
            v-checkbox(
              v-model="In.outputB64",
              label="Output Base64",
              :disabled="In.type != 1"
            ) 
          v-col.d-flex(cols="12")
            v-btn.flex-grow-1(@click="showEncDec()") Start
          v-col.d-flex(cols="12", v-if="result != null")
            v-btn.flex-grow-1(@click="resultReady = true") View Results

    v-bottom-sheet(v-model="resultReady", inset, persistent)
      v-sheet(v-if="result != null")
        v-container
          v-row
            v-col(cols="11")
              h2 Result
            v-col(cols="1")
              v-btn.float-right(@click="resultReady = false", raised, icon) 
                v-icon mdi-close
          v-row(v-if="result.password")
            v-col(cols="10") 
              h4 Password (Keep it safe!)
            v-col(cols="2")
              v-btn(icon, raised, small, @click="copyPassword()")
                v-icon mdi-content-copy
            v-col(cols="12")
              code {{ result.password }}
          v-row
            v-col.float-left(cols="10")
              h4 Result
            v-col.float-right(cols="2")
              v-btn(icon, raised, small, @click="copyResult()")
                v-icon mdi-content-copy
            v-col(cols="12")
              code {{ result.data }}
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import * as Crypto from "@/plugins/crypto";

@Component({
  components: {},
})
export default class EncBase extends Vue {
  In = {
    dec: false,
    msg: "",
    file: "",
    times: 1,
    psw: "",
    type: 2,
    outputB64: true,
  };
  result = null as unknown as Crypto.EncResult;
  resultReady = false;
  encryptionTypes = [
    { name: "Base64 (Not Encryption)", id: 0 },
    { name: "Morse Code (Not Encryption)", id: 1 },
    { name: " AED (XCC20-P1305)   (Prefered)", id: 2 },
    { name: "Secret Box", id: 3 },
  ];
  Crypto = Crypto; //Bad practice but left for debugging purposes.

  mounted() {
    Crypto.initSodium();
  }
  get passwordUsable() {
    let disabled = false;
    switch (this.In.type) {
      case 0:
      case 1:
        disabled = true;
        break;
      case 3:
        disabled = !this.In.dec;
        break;
    }
    return disabled;
  }
  copyPassword() {
    navigator.clipboard.writeText(this.result?.password);
  }
  copyResult() {
    navigator.clipboard.writeText(this.result?.data);
  }
  async encrypt() {
    let r = this.In.msg as any;
    if (this.In.type == 1) {
      // r = Crypto.encryptAES(r, this.In.psw);
    }
    switch (this.In.type) {
      case 0:
        // r = Crypto.toBase64(r);
        r = Crypto.simToBase64(r);
        break;
      case 1:
        r = Crypto.toMorse(r);
        if (this.In.outputB64) { r = Crypto.simToBase64(r); }
        break;
      case 2:
        r = await Crypto.encXCC1305(r, this.In.psw);
        break;
      case 3:
        r = Crypto.encSecretBox(r);
        break;
    }
    return r;
  }
  async decrypt() {
    let r = this.In.msg as any;
    switch (this.In.type) {
      case 0:
        // r = Crypto.fromBase64(r);
        r = Crypto.simFromBase64(r);
        break;
      case 1:
        r = Crypto.morseToText(r);
        break;
      case 2:
        r = await Crypto.decXCC1305(r, this.In.psw);
        break;
      case 3:
        r = Crypto.decSecretBpx(r, this.In.psw);
        break;
    }
    return r;
  }
  async showEncDec() {
    if (this.In.msg == "" || this.In.file == null) { return; }
    this.result = null as unknown as Crypto.EncResult;
    if (this.In.dec) {
      this.result = await this.decrypt();
    } else {
      this.result = await this.encrypt();
    }
    if (this.result != null) {
      this.resultReady = true;
    }
  }
}
</script>
<style lang="scss">
code {
  &::before {
    background: #fbe5e1;
  }
  padding: 5px !important;
  overflow-wrap: anywhere;
}
col* {
  padding-top: 0px;
}
</style>
