<template lang="pug">
v-app
  v-app-bar(app, dark)
    //- v-app-bar-nav-icon
    v-toolbar-title.flex-grow-1.text-center SimpleCrypt
    //- .d-flex.align-center
      h3 SimpleCrypt
  v-main
    EncBase

  v-footer(absolute) 
</template>

<script lang="ts">
import Vue from "vue";
import HelloWorld from "./components/HelloWorld.vue";
import EncBase from "./components/EncBase.vue";

export default Vue.extend({
  name: "App",

  components: {
    EncBase,
  },

  data: () => ({
    //
  }),
});
</script>
